include *.txt
include *.md
include *.pkl
include *.json
recursive-include ./churn_model/*

include churn_model/datasets/bank_data.csv
include churn_model/VERSION
include churn_model/config.yaml
include churn_model/models/*
include churn_model/reports/*

include ./requirements/*
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
